In [1]:
import pandas as pd

In [3]:
Flight=pd.read_csv('Flight_Manifest.csv')

In [4]:
Flight

,Flight No,Origin,Destination,Date,Time,First Name,Last Name,Sex,SeatNo,DateofBirth,DoBValidation,PersonValidation,LuggageValidation,NameValidation,BoardingPassValidation
0,CA-123,Vancouver,Toronto,27-Apr-22,10:00,Amir,Parizi,M,10A,08-Oct-94,False,False,False,False,False
1,CA-123,Vancouver,Toronto,27-Apr-22,10:00,Will,Smith,M,10B,20-Dec-65,False,False,False,False,False
2,CA-123,Vancouver,Toronto,27-Apr-22,10:00,Leo,Messi,M,15B,30-Oct-75,False,False,False,False,False
3,CA-123,Vancouver,Toronto,27-Apr-22,10:00,Jennifer,Lewrence,F,10C,10-Sep-85,False,False,False,False,False
4,CA-123,Vancouver,Toronto,27-Apr-22,10:00,George,Cloony,M,15C,20-Apr-45,False,False,False,False,False
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [80]:
## PersonValidation ##

Amir_Parizi=['Boarding_Pass_AmirParizi.pdf','Digital_ID_AmirParizi.pdf','human-face4.jpg']
Will_Smith=['Boarding_Pass_WillSmith.pdf','Digital_ID_WillSmith.pdf']
Leo_Messi=['Boarding_Pass_LeoMessi.pdf','Digital_ID_LeoMessi.pdf']
Jennifer_Lewrence=['Boarding_Pass_JenniferLewrence.pdf','Digital_ID_JenniferLewrence.pdf']
George_Cloony=['Boarding_Pass_GeorgeCloony.pdf','Digital_ID_GeorgeCloony.pdf']


People=[Amir_Parizi,Will_Smith,Leo_Messi,George_Cloony,Jennifer_Lewrence]

In [37]:
People[0]

['Boarding_Pass_AmirParizi.pdf',
 'Digital_ID_AmirParizi.pdf',
 'human-face4.jpg']

In [ ]:
import os
from azure.core.exceptions import ResourceNotFoundError
from azure.ai.formrecognizer import FormRecognizerClient
from azure.ai.formrecognizer import FormTrainingClient
from azure.core.credentials import AzureKeyCredential

In [13]:
AZURE_FORM_RECOGNIZER_ENDPOINT = "https://amirtest.cognitiveservices.azure.com/"
AZURE_FORM_RECOGNIZER_KEY = "dfbfb783717d45c8af2b24b3b8e21ca6"
endpoint = AZURE_FORM_RECOGNIZER_ENDPOINT
key = AZURE_FORM_RECOGNIZER_KEY
form_recognizer_client = FormRecognizerClient(endpoint=endpoint, credential=AzureKeyCredential(key))
model_id='aac73b4c-da24-4d1a-87e9-d9b0e6af9d02'

In [81]:
dob_from_ID

datetime.date(1985, 9, 10)

In [78]:
index=0
for Person in People:
    
    
    path_to_sample_forms=Person[1]
    with open(path_to_sample_forms, "rb") as f:
        poller = form_recognizer_client.begin_recognize_identity_documents(identity_document=f)
    id_documents = poller.result()
    first_name_from_ID = id_documents[0].fields.get("FirstName").value
    last_name_from_ID = id_documents[0].fields.get("LastName").value
    dob_from_ID = id_documents[0].fields.get("DateOfBirth").value
    
    path_to_sample_forms=Person[0]
    with open(path_to_sample_forms, "rb") as f:
        custom_test_action = form_recognizer_client.begin_recognize_custom_forms(model_id=model_id, form=f)
    id_documents = custom_test_action.result()
    for recognized_content in id_documents:
        for name, field in recognized_content.fields.items():
            if name=='Passenger Name':
                Passenger_Name_from_ticket=field.value
            elif name=='Flight No.':
                Flight_No_from_ticket=field.value
            elif name=='Seat':
                Seat_from_ticket=field.value
            elif name=='From':
                From_from_ticket=field.value
            elif name=='To':
                To_from_ticket=field.value
            elif name=='Date':
                Date_from_ticket=field.value
            last_name_ticket=Passenger_Name_from_ticket.split(' ')[1]
            first_name_ticket=Passenger_Name_from_ticket.split(' ')[0]
    if (first_name_ticket==first_name_from_ID) & (last_name_ticket==last_name_from_ID):
        if (first_name_ticket== Flight['First Name'][index]) & (last_name_ticket== Flight['Last Name'][index]):
            Flight[' NameValidation'][index]=True
    if 
    index+=1

Amir
Amir
Amir
Will
Will
Will
Leo
Leo
Leo
George
George
Jennifer
Jennifer
Jennifer
George

In [79]:
Flight

,Flight No,Origin,Destination,Date,Time,First Name,Last Name,Sex,SeatNo,DateofBirth,DoBValidation,PersonValidation,LuggageValidation,NameValidation,BoardingPassValidation
0,CA-123,Vancouver,Toronto,27-Apr-22,10:00,Amir,Parizi,M,10A,08-Oct-94,False,False,False,True,False
1,CA-123,Vancouver,Toronto,27-Apr-22,10:00,Will,Smith,M,10B,20-Dec-65,False,False,False,True,False
2,CA-123,Vancouver,Toronto,27-Apr-22,10:00,Leo,Messi,M,15B,30-Oct-75,False,False,False,True,False
3,CA-123,Vancouver,Toronto,27-Apr-22,10:00,Jennifer,Lewrence,F,10C,10-Sep-85,False,False,False,False,False
4,CA-123,Vancouver,Toronto,27-Apr-22,10:00,George,Cloony,M,15C,20-Apr-45,False,False,False,False,False
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN